body {
  text-align: center;
}
.btn {
  height: 150px;
  width: 150px;
  background-color: red;
  border: 2px solid black;
  border-radius: 20%;
  margin: 15px;
}
.box-container {
  display: flex;
  justify-content: center;
}
.red {
  background-color: #d95980;
}
.yellow {
  background-color: #f99b45;
}
.green {
  background-color: #63aac0;
}
.purple {
  background-color: rgba(125, 90, 125, 0.81);
}

.gameflash {
  background-color: white;
}
.userflash {
  background-color: green;
}
.btn:hover {
  cursor: pointer;
  transform: translate(1px, 1px);
}

.start {
  padding: 7px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: medium;
  background-color: #98b6c07c;
  outline: 2px solid rgb(111, 105, 105);
  outline-offset: 1.5px;
}
.start:hover {
  cursor: pointer;
  transform: translate(1px, 1px);
  background-color: #95aab1c4;
}
